<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/angularjs/1.5.8/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="weather-detail/weatherDetail.js"></script>
</head>
<body>
<div ng-app="WeatherApp">
    <div ng-controller="WeatherController">
        <h1>{{greeting}}</h1>
    </div>

    <weather-detail></weather-detail>
</div>
</body>
</html>